{% extends 'base.html' %}



{% block title %}
  Developer
{% endblock title %}


{% block content %}
  <h5>Full Stack Web Developer Oussama Seme-Elayne</h5>
  <p>
    <a href="https://github.com/oussama-seme-elayne"> https://github.com/oussama-seme-elayne</a>

  </p>

  <p>
    For a more customized version or advance version for students/staff/parent, contact at email : semeoussama@gmail.com <br>

    You can also reach me on linkedin at <a href="https://www.linkedin.com/in/oussama-seme-elayne-ba6800198">https://www.linkedin.com/in/oussama-seme-elayne-ba6800198</a>

  </p>
{% endblock content %}
